
body {
    font-famil: Arial:
    background-color: FAEBD;
    color: black;
}
.main {
    width: 90%;
    height: 90%;
    border: 1px solid 
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

}
input.type {
    width: 500px;
    height: 100px;
    margin: auto;
    border: 3px solid black;
    padding-block: 30px;
    background-position: left;
    background-color: aliceblue;
    color:black;
    text-align: center;
    font-family:verdana;
    font-size: 20px;
}